<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Name</label>
      <div class="form-control">{{bikeReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Country</label>
      <div class="form-control">{{bikeReg.country}}</div>
    </div>
    <div class="form-group">
      <label>Price</label>
      <div class="form-control">{{bikeReg.price}}</div>
    </div>
    <div class="form-group">
      <label>Rating</label>
      <div class="form-control">{{bikeReg.rating}}</div>
    </div>
    <div class="form-group">
      <label>Year</label>
      <div class="form-control">{{bikeReg.year}}</div>
    </div>
  </div>
</div>
